/*html {*/
    /*height: 100%;*/
    /*background: url(../server/assets/ObjectData/American-Flag-icon.png) no-repeat center center;*/
    /*background-size: cover;*/
/*}*/

body {
    color: #398439;
    text-align: center;
    background-image: url(../../server/public/assets/American-Flag-icon.png);
    background-color: transparent;
}
    /*opacity:50%;*/
}

h1 {
    margin-top:100px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
    text-align: center;
}

.space {
    font-size: 24px;
    color: white;
}
.copyright {
    background-color: lightgray;
    width:240px;
}

.group {
    margin-left: 330px;
}

.correct {
    margin-left: 15px;
}

.name {
    color:white;
}

.buffer, .buffer2 {
    color: white;
    font: 18px;
}

.buffer3 {
    color: white;
    font: 10px;
}

.reveal {
    color:white;
    display:none;
}

img {
    height:80px;
    width:80px;
}

.headerflag {
    display:inline-block;
    margin-right: 15px;
}

.specificflag {
    border: 25px;
}

.reveal:hover {
    font-size:11px;
    color:saddlebrown;
}

.count {
    margin-left:10px;
}

.photo {
    margin-left: 15px;
}

.circle {
    height:15px;
    width:15px;
    background-color:rgba(44, 168, 208, 0.85);
    border-radius: 50%;
}

.dos {
    height:15px;
    width:15px;
    background-color: gray;
    border-radius: 50%;
}

.plusten {
    width: 25px;
    background-color: yellow;
    border-color: #8a6d3b;
    color: darkred;
}

.countries {
    margin-left: 54px;
}

.eachSet {
    margin-left: 400px;
    display: none;
    color: white;
}

.hold1,.hold2,.hold3,.hold4 {
    display: inline;
}

.newbird {
    background-color: rgba(44, 168, 208, 0.85);
    color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: #542a0a;
}

.newbird2 {
    margin-left:;
    background-color: rgba(44, 168, 208, 0.85);
    color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: #542a0a;
}

.radioButtons {
    margin-top:20px;
}

.radioButtons:hover {
    color:black;
}

.answerForm {
    display: inline-table;
}

.recording {
    margin-left:-15px;
}

.addAnswers {
    margin-left: 538px;
}

.radiochoice {
    background-color: rgba(44, 168, 208, 0.85);
    color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: #542a0a;

}

.userInput {
    background-color: darkseagreen;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: #542a0a;

}

.letsplay {
    background-color: white;
    color: #930000;
    border-radius: 5px;
    border-width: 0px;
    border-color: #542a0a;
    padding-left: 10px;
}

.letsplay:hover {
    color: #930000;
}

.wrong {
    margin-left: 60px;
}

.points {
    background-color: white;
    color: #930000;
    border-radius: 5px;
    border-width: 1px;
    border-color: #542a0a;
    padding-left: 10px;
}

.points:hover {
    color: #930000;
}

.underflagdiv {
    color:white;
}

.nameentry {
    display: block;
}

.deepbrown {
    color: darkred;
}

.brown {
    background-color: #8a6d3b;
    color: white;
    text-decoration: none;
    border-color: darkseagreen;
}

.brown:hover {
    color: black;
}

.giveAnswer {
    background-color: darkseagreen;
    border-radius: 5px;
    border-width: 1px;
    border-color: #8a6d3b;
    color: white;
}

.submit {
    background-color: darkseagreen;
    border-radius: 5px;
    border-width: 1px;
    border-color: #8a6d3b;
    color: white;
    margin-left: 2px;
}

.size {
    margin-right: 100px;
    text-align: center;
}

.unit {
    display:inline-block;
    text-align: center;
}

.size {
    font-size:18px;
}


.questions {
    color: rgba(44, 168, 208, 0.85);
    margin-left: 310px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.popup2 {
    color:white;
    text-decoration: none;
}

.popup2:hover {
    text-decoration: none;
    color: white;
}

/*.col-md-3 {*/
    /*transition: 2s all;*/
/*}*/