body {
    color: #398439;
}

.copyright {
    background-color: lightgray;
    width:240px;
}

.name {
    color:white;
}

.reveal {
    color:white;
}

img {
    height:50px;
    width:50px;
}

.headerflag {
    display:inline-block;
}

.reveal:hover {
    font-size:11px;
    color:saddlebrown;
}

.count {
    margin-left:10px;
}
.photo {
    margin-left: 15px;
}

.countries {
    margin-left: 4px;
}

.eachSet {
    margin-left: 220px;
    display: none;
}

.newbird {
    margin-left: 2px;
}

.recording {
    margin-left:-15px;
}

.addAnswers {
    margin-left: 538px;
}

.letsplay {
    margin-left: 420px;
    background-color: darkseagreen;
    border-radius: 5px;
    border-width: 3px;
    border-color: #8a6d3b;
    color: #8a6d3b;
    padding-left: 10px;
}


.popup2 {
    color:white;
    text-decoration: none;
}

.popup2:hover {
    text-decoration: none;
    color: white;
}

.points {
    margin-left: 420px;
    background-color: darkseagreen;
    border-radius: 5px;
    border-width: 3px;
    border-color: #8a6d3b;
    color: white;
    padding-left: 10px;
}

.underflagdiv {
    color:white;
}

.nameentry {
    margin-right: 50px;
    display:block;
}

.submit {
    background-color: darkseagreen;
    border-radius: 5px;
    border-width: 3px;
    border-color: #8a6d3b;
    color: white;
    margin-left: 2px;
}

.unit {
    display:inline-block;
}

.size {
    font-size:18px;
}

.brown {
    background-color: #8a6d3b;
    color: white;
    text-decoration: none;
    border-color: darkseagreen;
}

.brown:hover {
    color: white;
    text-decoration: none;
}


.questions {
    color: rgba(44, 168, 208, 0.85);
    margin-left: 310px;
}

.points:hover {
    color: white;
    text-decoration: none;
}


#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1000;
}

#modal-content {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    height: 240px;
    left: 50%;
    margin: -120px 0 0 -160px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 320px;
    z-index: 1000;
}

#modal-background.active, #modal-content.active {
    display: block;
}