body {
    color: #398439;
}

.copyright {
    background-color: lightgray;
    width:240px;
}

.name {
    color:white;
}

.reveal {
    color:white;
}

.reveal:hover {
    font-size:16px;
    color:saddlebrown;
}

